<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="provider" content="www.cnepub.com"/>
<meta name="builder" content="epubBuilder present by www.cnepub.com"/>
<meta name="right" content="该文档由epubBuilder生成。epubBuilder为掌上书苑（www.cnepub.com)提供的epub制作工具，仅供个人交流与学习使用。在未获得掌上书苑的商业授权前，不得用于任何商业用途。"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<title>第一回　天罡地煞魔君转世</title>
</head>
<body>
<div>
<h3>第一回　天罡地煞魔君转世</h3>
<p>大宋仁宗嘉佑年间，天下瘟疫盛行，医药无效，到处是死人和奄奄一息的病者。 首都开封的疫情更为严重，军民死亡大半。</p>
<p>仁宗皇帝命钦差太尉洪信为天使，前往江西信州龙虎山，宣请嗣汉天师星夜进京，施用法术，消灾保民。</p>
<p>洪太尉到了龙虎山上清宫，住持真人说要他亲自到山顶上去请天师。他在上山途中遇见一个倒骑黄牛、横吹铁笛的小道童，便问嗣汉天师的住处。道童大笑道∶“天师已经骑鹤到东京去了。”太尉听了甚是惊疑。</p>
<p>洪太尉回到寺院，对住持真人说了上述经过。住持真人却道∶“ 太尉可惜错过，那道童便是天师。”太尉闻听放了心，就在龙虎山游山玩景，参观宫殿。</p>
<p>洪太尉参观各殿之后，来到“伏魔大殿”，只见殿门用大锁锁着，锁上交叉贴着盖有朱印的数十道封皮。住持真人告诉他∶“里边锁着魔王，传一代天师便添加一道封皮，后代人不得擅自开启。”</p>
<p>洪太尉不以为然，说∶“你且开门来，我要看看魔君是什么模样。”真人道∶“此门绝不敢开，放走魔君非同小可。”太尉怒道∶“ 胡说，你们假称锁着魔王，显示你们的道术，我就不信有魔王在内，快给我打开！”</p>
<p>住持真人惧怕太尉，只得命人揭去封皮，打开铁锁放他进殿。只见殿中央有一石碑，上面凿着四个大字∶“遇洪而开”，洪太尉大喜道∶“你看，这不是叫我打开看吗！”</p>
<p>洪太尉命人放倒石碑，掘开石碑下面一块大青石板，露出一个地穴。只听穴内一声巨响，一道黑气从穴里冲出，直升空中。众人惊散，洪太尉目瞪口呆，面色如土。</p>
<p>洪太尉问道∶“走了什么妖魔？”真人道∶“当初洞玄真人在殿内镇锁三十六员天罡星，七十二位地煞星，共是一百单八个魔君，如今放出，必然兵戈烽起，生祸惹灾。”洪太尉听了浑身冒汗，急忙回京去了。</p>
<p>宋仁宗去世，皇位相继传给英宗、神宗、哲宗。这年，开封府有个浮浪子弟，名叫高俅，他会踢球，也会弄枪使棒，更会拍马奉承，被人介绍给驸马王晋卿当亲随。从此高俅出入驸马府中，如同家人一般。</p>
<p>驸马爷派高俅给端王送礼，正赶上端王在庭前踢球，恰巧那球滚到高俅身边。高俅一个漂亮的鸳鸯拐把球踢给端王。端王见他踢球踢得好，十分高兴，便和驸马讨来，留在自己身边当亲随。</p>
<p>哲宗晏驾，册立端王为徽宗皇帝。徽宗封高俅为殿帅府太尉。高俅择日上任，所有属下官吏都来参见，只有八十万禁军教头王进因病没来。高俅大怒，喝道∶“王进不来参见，分明是抗拒本官，快去把他拿来！”</p>
<p>王进被高俅训斥，众将求情才免遭棒打。他回家对娘说∶“现任高殿帅，从前和父亲有仇，儿在这里怕是性命难保。”娘说∶“既是这样，三十六计走为上策。”王进便偕老娘往延安经略府投军去了。　　途中，他们借宿史家村，王进在庄主家看见小官人史进正在练棒。王进看着不觉失声叫道∶“这棒使得好，只是有破绽，赢不得真好汉！”</p>
<p>史进听了大怒道∶“你敢笑话我的本领？我是人称九纹龙的史进，你敢和我比比吗？”</p>
<p>王进拿起一条棍棒，史进抡棒打来，王进拖棒就走，史进紧追，王进回身用棒往史进怀里搠去又一绞，史进丢棒倒地。</p>
<p>王进忙扶起史进赔罪。史进拜道∶“我枉自拜了许多师父，原来不值半分，请你教我。</p>
<p>”王进说∶“我母子打扰宅上，无恩可报，定当效力。”教了半年，史进武功大有长进，王进辞行，直奔延安府。　　一日，史进把史家庄户请到家里，一边喝酒一边说道∶“近来少华山聚集一伙土匪，打家劫舍，早晚要到我们这里来。今天请大家来商议，倘若强盗来了，庄上打起梆子，大家要拿起枪棒，互相救应，共保村庄。”</p>
<p>少华山三个头领，为首的是神机军师朱武，老二是跳涧虎陈达，老三是白花蛇杨春。他们商议下山去抢华阴县。杨春说∶“去华阴县要经过史家庄，那个九纹龙史进不是好惹的。</p>
<p>”陈达不服，定要和朱、杨二人一起带领喽罗去打史家庄。</p>
<p>史进带着史家庄三四百人，手持棍棒，迎住了陈达。陈达在马上欠身施礼道∶“我们去华阴县借粮，经过贵庄，请借路通行。”史进道∶“不行，我若放你们过去，县令知道了必然怪罪于我。”</p>
<p>陈达大怒，拍马和史进打了起来。打了多时，史进卖个破绽，陈达一枪刺了过去。史进闪身躲过，然后轻舒猿臂，只一挟就把陈达摘离马鞍，丢在地上活捉了。</p>
<p>朱武和杨春自知不敌，跪在史进面前哭道∶“小人三个被官家所逼上山落草，当时发誓不求同日生，只愿同日死，小弟陈达误犯虎威，请英雄把我们三人一起送官请赏，情愿死在英雄手里，决无怨心。 ”</p>
<p>史进见他们很有义气，便放了陈达。从此史进和少华山头领来往密切。中秋节这天，史进邀请三个头目来家饮酒赏月，不料被华阴县衙探知，立即派兵围住了史家庄院，大呼∶“不要放走了强贼！”</p>
<p>史进知道在这里已住不下去，放火烧了房子，带领少华山三个头目和自家庄客杀了出来。他不愿在少华山落草，便挎上雁翎刀，辞别朱武等人，到延安经略府找师父王进去了。</p>
<p>更多下载:共享之家(http://gongxiangzhijia.lingw.net/)</p>

</div>
</body>
</html>
